<a href=<%= to_do_items_path %>><h5>to do</h5></a>
<div class="col-sm-12 column no-side-padding">
  <table class="table sortable list no-bottom-margin table-striped" id="to-do">
    <tbody>
    <% @to_do_items.limit(10).each do |to_do_item| %>
      <%= render to_do_item, dashboard: true %>
    <% end %>
    </tbody>
  </table>
  <%= form_with(model: @new_to_do_item, class: 'form-inline') do |f| %>
    <div id="new-to-do">
      <%= f.text_field :content, class: 'small-text form-control', id: 'new-to-do-item', size: 80 %>
      <%= f.submit 'Quick add', class: 'small-text btn btn-primary btn-sm' %>
    </div>
  <% end if @new_to_do_item %>
  <br>
</div>

<script>
    autosizeInput(document.querySelector('#new-to-do-item'));
</script>

<%= render 'components/popup_form', name: 'to_do_modal' do %>
  <% render partial: 'to_do_items/form', locals: { to_do_item: ToDoItem.new, async: true } %>
<% end %>