<h5>to do</h5>

<table class="table sortable list no-bottom-margin table-striped" id="to-do">
  <tbody>
  <% @to_do_items.limit(10).each do |to_do_item| %>
    <%= render to_do_item, dashboard: true %>
  <% end %>
  </tbody>
</table>
<%= form_with(model: @new_to_do_item, class: 'form-inline') do |f| %>
  <div id="new-to-do">
    <%= f.text_field :content, class: 'small-text form-control', id: 'new-to-do-item', size: 80 %>
    <%= f.submit 'Quick add', class: 'small-text btn btn-primary btn-sm' %>
  </div>
<% end if @new_to_do_item %>
<br>

<script>
    autosizeInput(document.querySelector('#new-to-do-item'));
</script>

<%= render 'to_do_items/popup_edit' %>