<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= javascript_include_tag 'resize' %>
  <p class="notice" id="notice"><%= notice %></p>
  <p class="notice" id="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
